@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  font-family: "Montserrat", sans-serif;
}
/* 
.popup {
  position: fixed;
  top: 5;
  right: 0;
  background-color: green;
  color: white;
  padding: 1rem;
  animation: popup 0.5s ease-in-out;
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
} */
